@charset "utf-8";

.about{
  &__container{
    max-width: 136.6rem;
    width: 100%;
    margin: 0 auto;
    // margin-left: 2.3rem;
    @include tab{
      max-width: 136.6rem;
      width: 100%;
      margin: 0 auto;
    }
    @include pc{
      // padding-left: 84px;
    }
  }
  &__flex{
    @include tab{
      max-width: 136.6rem;
      width: 100%;
      display: flex;
      justify-content:space-between;
    }
  }
  &__title{ 
    // font-size: 3rem;
    // margin-bottom: 3rem;
    // letter-spacing: 1.5px;
    // line-height: 4rem;
    // padding-top: 2.5rem;
    // margin-left: 2.3rem;
      &::after{
        content:"ABOUT";
        display:block;
        font-size: 1.2rem;
        color:#2D1B0E;
        position:absolute;
        top:-19px;
        left:60px;
        font-family:Adobe Caslon Pro;
        @include tab{
          padding-left: 64px;
        }
        @include pc{
          padding-left: 84px;
        }
      }
    @include tab{
      margin-top: 15rem;
      // font-size: 3.5rem;
      // max-width: 1366px;
      // padding-left: 64px;
      // padding-top: 40px;
    }
    // @include pc{
    //   font-size: 3.8rem;
    //   max-width: 1366px;
    //   padding-left: 84px;
    // }
  }
  &__text{
    font-size: 1.5rem;
    letter-spacing: 0.75px;
    line-height: 3rem;
    margin-bottom: 4rem;
    max-width: 368px;
    width: 90%;
    margin-left: 2.3rem;
    @include tab{
      margin-top: 16rem;
      font-size: 1.5rem;
      max-width: 600px;
      width: 100%;
    }
  }
  &__videoBox{
    width: 90%;
    text-align: right;
    margin-bottom: 15rem;
    @include tab{
      display: none;
      // max-width: 1366px;
      // width: 100%;
    }
  }
  // ビデオの場合
  // &__video{
  //   @include tab{
  //     width: 420px;
  //     height: 300px;
  //   }
  //   @include pc{
  //     width: 600px;
  //     height: 380px;
  //   }
  // }

  &__imgBox{
    display: none;
    // width: 90%;
    // text-align: right;
    @include tab{
      display:block;
      text-align: right;
      // margin-bottom: 10.4rem;
    }
  }
  &__img{
    @include tab{
      width: 420px;
      height: 300px;
    }
    @include pc{
      width: 600px;
      height: 380px;
    }
  }
}

// ビデオフォバーで拡大
.about__imgBox{
  overflow: hidden;
  // 拡大時、はみ出た部分を隠す
  width: 100%;
  height: 100%;
}
.about__imgBox img{
  // display: block;
  transition-duration: 0.5s;
}
.about__imgBox img:hover{
  @include tab{
    transform:scale(1.2,1.2);
    transition-duration: 0.5s;
  }
}