@charset "utf-8";

.access{
  &__wrapper{
    max-width: 136.6rem;
    width: 100%;
    position: relative;
    height: 90rem;
    // 下のaddressAreaでposition: absolute;でfaqがついてくるからheightつけてる
    @include tab{
      height: 110rem;
    }
    @include pc{
      height: 160rem;
    }
  }
  &__title{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    @include tab{
      font-size: 1.6rem;
    }
    @include pc{
      font-size: 1.8rem;
    }
  }
  &__mapArea{
    max-width: 136.6rem;
    width: 100%;
    height: 20rem;
    position: absolute;
    z-index: 1;
    @include tab{
      height: 45rem;
    }
    @include pc{
      height: 55rem;
    }
  }
  &__addressArea{
    max-width: 136.6rem;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 20rem;
    @include tab{
      top: 40rem;
    }
    @include pc{
      top: 50rem;
    }
  }
  &__unit{
    max-width: 39rem;
    width: 95%;
    margin-left: auto;
    background: #fff;
    padding: 3rem 0 7.4rem 0;
    @include tab{
      max-width: 128rem;
      width: 95%;
    }
    @include pc{
      max-width: 136.6rem;
      width: 95%;
      margin-left: auto;
      display: flex; /* 子要素のdtとddを横並びにする */
      flex-wrap: wrap; /* 1つのdtとddで1行になるよう改行させる */
      padding: 14rem 2.2rem;
    }
  }
  &__menu{
    font-size: 1.8rem;
    margin: 1rem 2rem 1rem 2.3rem;
    // position:relative;  //消した
    // 線の位置指定
    @include tab{
      margin: 3rem 2rem 1rem 5rem; // 追加
    }
    @include pc{
      // box-sizing: border-box;
      width: 10%; 
      /* dt（見出し項目）の横幅を200pxに指定 */
      text-align: right;
      // padding-top: 1.4rem;
    }
  }
  &__text{
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin: 0 0 2rem 2.3rem;
    padding-bottom: 1rem;    // 追加
    @include tab{
      font-size: 1.5rem;
      margin-left: 5rem;    // 追加
    }
    @include pc{
      font-size: 1.8rem;
      // box-sizing: border-box;
      // width: calc(90% - 20%); 
      width: 60%;
      /* テーブル幅からdtを引いた分の横幅を指定。 */
      // position:relative;  //消した
      // padding-top: 1.9rem;
    }
  }
  &__textLast{
    line-height: 3.8rem;
  }
  &__textSub{
    font-size: 1.2rem;
    @include tab{
      font-size: 1.5rem;
    }
    @include pc{
      font-size: 1.8rem;
    }
  }
}

// 線の擬似要素sp版
// .access dt:not(:first-child)::after {
//   content:"";
//   display:block;
//   width:100%;
//   height:1px;
//   background-color:#D3D3D3;
//   position:absolute;
//   top:-1rem;
//   left:0;
//   @include pc{
//     width: 35%;
//     // 線の幅
//     left: 18rem;
//     // 線の位置もじの下に
//     height:2px;
//   }
// }

// .access dd:not(:first-child)::after{
//   @include pc{
//     content:"";
//     display:block;
//     width:80%;
//     height:1px;
//     background-color:#D3D3D3;
//     position:absolute;
//     top:0;
//     left:0;
//   }
// }

// 疑似ではない線
.access dd:not(:last-child){
  border-bottom: 1px solid #D3D3D3;
  width: 80%;
  @include pc {
    // width: 60%;
  }
}

.access dt:not(:last-child){
  @include pc {
    border-bottom: 1px solid #D3D3D3;
    // width: 20%;
  }
}



// 地図白黒
.googlemap-bw iframe {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}