@charset "utf-8";

.gift{
  &__container{
    width: 100%;
    margin: 0 auto;
    margin-top: 20rem;
    position: relative;
    margin-bottom: 4.9rem;
    @include tab{
      max-width: 136.6rem;
      margin-top: 50rem;
      // padding-left: 64px;
    }
    @include pc{
      margin-top: 60rem;
      // padding-left: 84px;
    }
  }
  &__wrapper{
    background-color: #FFF;
    max-width: 39.1rem;
    width: 90%;
    height: 45rem;
    margin-left: auto;
    // padding: 4rem 2.2rem 6.3rem 2.3rem;
    // margin-left: 1rem;
    position: relative;
    z-index: 2;
    @include tab{
      max-width: 100rem;
      width: 90%;
      // padding: 10rem 0 15rem 0;
    }
    @include pc{
      // max-width: 136.6rem;
      max-width: 120rem;
      width: 90%;
      height: 60rem;
      // padding: 15rem 0 20rem 0;
    }
  }
  &__position{
    margin-bottom: 5rem;
    @include tab{
      display: flex;
      justify-content:space-around;
      // margin-left: 13rem;
    }
  }
  // イメージの重ね
  &__imgBox{
    position: absolute;
    top: -16rem;
    width: 100%;
    text-align: right;
    z-index: 1;
    @include tab{
      top: -38rem;
      left: 0;
    }
    @include pc{
      top: -44rem;
      left: 0;
    }
  }
  &__img{
    // max-width: 35rem;
    width: 100%;
    text-align: right;
    @include tab{
      max-width: 110rem;
      width: 100%;
    }
    @include pc{
      max-width: 136.6rem;
      width: 100%;
    }
  }
  // 消してるところpartsで共通でcss描いてる
  &__title{ 
    font-size: 3rem;
    margin-bottom: 3.2rem;
    line-height: 4rem;
    padding-top: 6rem;
    margin-left: 2.3rem;
    position:relative;
    &::before{
      content:"";
      display:block;
      width:40px;
      height:1px;
      background-color:#D3D3D3;
      position:absolute;
      top:3.8rem;
      left:0;
      @include tab{
        margin-left: 3rem;
        top: 3rem;
      }
      @include pc{
        // margin-left: 84px;
        margin-left: 5rem;
        top: 3rem;
      }
    }
    &::after{
      content:"gift";
      display:block;
      font-size: 1.2rem;
      color:#2D1B0E;
      position:absolute;
      top:2rem;
      left:60px;
      font-family:Adobe Caslon Pro;
      @include tab{
        // padding-left: 64px;
        margin-left: 3rem;
        top: 1.2rem;
      }
      @include pc{
        // padding-left: 84px;
        margin-left: 5rem;
        top: 1.2rem;
      }
    }
    @include tab{
      // margin-top: 15rem;
      font-size: 2.8rem;
      padding-right: 8rem;
      top: 12rem;
      // max-width: 1366px;
      padding-left: 8rem;
      padding-top: 8rem;
    }
    @include pc{
      font-size: 3.8rem;
      top: 12rem;
      padding-left: 10rem;
    }
  }
  &__text{
    font-size: 1.5rem;
    // letter-spacing: 1.5px;
    letter-spacing: 0.15rem;
    line-height: 2.5rem;
    margin-left: 2.3rem;
    // margin-right: 1rem;
    max-width: 30rem;
    width: 95%;
    @include tab{
      max-width: 30rem;
      margin-left: 0;
      margin-top: 20rem;
      // padding-right: 5rem;
    }
    @include pc{
      max-width: 50rem;
      margin-top: 21.3rem;
    }
  }
  &__btnBox{
    max-width: 34rem;
    width: 100%;
    text-align: right;
    @include tab{
      max-width: 120rem;
    }
  }
  &__btn{
    margin-right: 1rem;
    @include tab{
      margin-right: 10rem;
      // margin-top: 10rem;
    }
    @include pc{
      margin-top: 10rem;
    }
  }
}