@charset "utf-8";

// タイトル
.pseudo{
  &__element{
    position:relative;
    &::before{
      content:"";
      display:block;
      width:40px;
      height:1px;
      background-color:#D3D3D3;
      position:absolute;
      top:0;
      left:0;
      @include tab{
        margin-left: 64px;
      }
      @include pc{
        margin-left: 84px;
      }
    }
    // 疑似入れるならここ
    // &__title{
    //   &::after{
    //     content:"ABOUT";
    //     display:block;
    //     font-size: 1.2rem;
    //     color:#2D1B0E;
    //     position:absolute;
    //     top:-19px;
    //     left:60px;
    //   }
    // }
  }
}

// タイトル共通 
.title__parts{ 
  font-size: 3rem;
  margin-bottom: 3rem;
  letter-spacing: 1.5px;
  line-height: 4rem;
  padding-top: 2.5rem;
  margin-left: 2.3rem;
  // font-family:A-OTF A1 Mincho Std;
  @include tab{
    // margin-top: 15rem;
    font-size: 3.5rem;
    max-width: 1366px;
    padding-top: 40px;
    padding-left: 64px;
  }
  @include pc{
    font-size: 3.8rem;
    max-width: 1366px;
    padding-left: 84px;
  }
}

// 疑似要素タイトルに入れ込むcss contentの中は変更
  // &::after{
  //   content:"ABOUT";
  //   display:block;
  //   font-size: 1.2rem;
  //   color:#2D1B0E;
  //   position:absolute;
  //   top:-19px;
  //   left:60px;
  //       @include tab{
  //         padding-left: 64px;
  //       }
  //       @include pc{
  //         padding-left: 84px;
  //       }
  // }




  // ACCES・FAQタイトル
.sam{
  &__title{
    position:relative;
    font-size: 1.2rem;
    padding-left: 6rem;
    &::before{
      content: '';
      width: 4rem;
      height: 1px;
      display: inline-block;
      background-color: #D3D3D3;
      position: absolute;
      top: calc(50%);
      left: calc(3%);
      @include tab{
        left: calc(4%);
        width: 5rem;
      }
      @include pc{
        left: calc(1%);
        width: 6rem;
      }
    }
    @include tab{
      font-size: 1.6rem;
      padding-left: 11rem;
    }
    @include pc{
      font-size: 1.8rem;
      padding-left: 9rem;
    }
  }
}


.card{
  &__area{
    @include tab{
      display: grid;
    }
  }
  &__unit{
    width: 30rem;
    @include pc{
      width: 35rem;
    }
  }
  &__description{
    width: 30rem;
  }
  &__tag{
    font-size: 1.8rem;
    padding-top: 1.4rem;
  }
  &__heading{
    font-size: 2.8rem;
  }
  &__tax{
    font-size: 1.8rem;
    text-transform:none;
    text-align: right;
    padding-top: 1.1rem;
  }
  &__text{
    letter-spacing: 0.7px;
    line-height: 1.5rem;
    padding-top: 1rem;
  }
}



// NEWの部品HTMLでかいたときの部品
.emphasis{
  &__item{
    font-size: 1.8rem;
    display: inline-block;
    background-color: #F5D377;
    width: 80px;
    height: 80px;
    color: #2D1B0E;
    border-radius: 50%;
    line-height: 80px;
    /* ←文字を上下に中央揃え */
    text-align: center;
    /* ←文字を左右に中央揃え */
    z-index: 5;
  }
}

// NEWの部品疑似要素でかいたときの部品
// .product__cards li:nth-child(1),li:nth-child(2){
//     &::before{
//       content: "NEWS";
//       font-size: 1.8rem;
//       display: inline-block;
//       background-color: #F5D377;
//       width: 80px;
//       height: 80px;
//       color: #2D1B0E;
//       border-radius: 50%;
//       line-height: 80px;
//       /* ←文字を上下に中央揃え */
//       text-align: center;
//       /* ←文字を左右に中央揃え */
//   }
// }

// ボタンのパーツ
.btn{
  font-size: 1.4rem;
  background-color: #FFF;
  padding: 1.4rem 7.25rem 1.2rem 6.35rem;
  border-radius: 3rem;
}

.btn{
  &__link{
    position:relative;
    &::before{
      position:absolute;
      content: "";
      width: 40px;
      height: 5px;
      border-bottom: 1px solid #000;
      border-right: 5px solid #000;
      transform: skew(45deg);
      top: 0.4rem;
      left: 5rem;
    }
  }
}